// ==========================================================================
// Variables
// ==========================================================================

// Font Stacks
$font-url--google       : 'https://fonts.googleapis.com/css?family=Lato: 300,400,600|Audiowide:400';
$font-family-primary    : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 600;

// Text
$base__font-size  : 16px;


// Descriptive Base Colors
$white : #fff;
$black : #0b0b0b;
$grey  : #AAA;
$green : #78CF82;
$red   : #D94545;
$downriver    : #092156;
$deep-koamaru : #133075;

$color-primary: $deep-koamaru;


// Breakpoints
$breakpoints: (
  'xm': 320px,
  'sm': 576px,
 'med': 768px,
  'lg': 992px,
  'xl': 1200px,
);
