<template>
  <div class="container">
    <div class="row justify-content-center">
      <base-card v-if="!payed" title="Checkout">
          <form>
            <!-- Card number field -->
            <div class="mb-3">
              <BaseInput
                class="form-control"
                label="Card number"
                name="card"
                type="tel"
                maxlength="19"
                :invalid="v.fields.cardNumber.$error"
                :focus="true"
                v-model="fields.cardNumber"
              />
            </div>
            <template v-if="v.fields.cardNumber.$error">
              <template v-for="(error, index) of v.fields.cardNumber.$errors" :key="index">
                <p>{{ error.$message }}</p>
              </template>
            </template>

            <!-- Expiry date field -->
            <div class="mb-3 expiry-date">
              <BaseInput
                class="form-control expiry-date"
                label="Expiry date"
                name="expiry-date"
                type="tel"
                maxlength="4"
                :invalid="v.fields.expiryDate.$error"
                v-model="fields.expiryDate"
              />
            </div>
            <template v-if="v.fields.expiryDate.$error">
              <template v-for="(error, index) of v.fields.expiryDate.$errors" :key="index">
                <p>{{ error.$message }}</p>
              </template>
            </template>

            <!-- CVV field -->
            <div class="mb-3">
              <BaseInput
                class="form-control"
                label="CVV"
                name="CVV"
                type="tel"
                maxlength="3"
                :invalid="v.fields.CVV.$error"
                v-model="fields.CVV"
              />
            </div>
            <template v-if="v.fields.CVV.$error">
              <template v-for="(error, index) of v.fields.CVV.$errors" :key="index">
                <p>{{ error.$message }}</p>
              </template>
            </template>

            <input type="submit"
                   class="btn btn-success d-block mx-auto mb-2 mt-4"
                   value="Pay"
                   @click.prevent="party">
          </form>
          <template v-slot:card-footer>
            <NavigationButton href="/order" align="left" class="btn d-block d-sm-none" />
          </template>
      </base-card>
      <base-card v-else title="Congratulations! 🎉">
          <p>Your order will shipping in 3 weeks! </p>
          <p>Thank you for your patient 😊 </p>
      </base-card>
    </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import {
  maxLength, minLength, required, numeric,
} from '@vuelidate/validators';
import party from 'party-js';
import BaseCard from '../components/BaseCard.vue';
import BaseInput from '../components/BaseInput.vue';
import NavigationButton from '../components/UI/NavigationButton.vue';

export default {
  name: 'Checkout',
  setup: () => ({ v: useVuelidate() }),
  components: { BaseCard, BaseInput, NavigationButton },
  data() {
    return {
      fields: {
        cardNumber: '',
        expiryDate: '',
        CVV: '',
      },
      payed: false,
    };
  },
  methods: {
    async party(e) {
      this.payed = true;
      await party.confetti(e, {
        count: party.variation.range(0, 100),
        size: party.variation.range(0.6, 1.4),
      });
    },
  },
  validations() {
    return {
      fields: {
        cardNumber: {
          required,
          numeric,
          maxLength: maxLength(19),
          minLength: minLength(19),
          $autoDirty: true,
        },
        expiryDate: {
          required,
          maxLength: maxLength(4),
          minLength: minLength(4),
          $autoDirty: true,
        },
        CVV: {
          required,
          numeric,
          maxLength: maxLength(3),
          minLength: minLength(3),
          $autoDirty: true,
        },
      },
    };
  },
};
</script>

<style scoped lang="scss">
.btn {
  padding: em(7px) em(20px);
}
</style>
