<template>
  <div class="container">

    <!-- Alert box  -->
    <div class="alert alert-danger fixed-top alert-dismissible shadow fade show"
         role="alert"
         v-if="this.error">
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
              @click="closeAlert()">
      </button>
      <p>Something went wrong, please try again!</p>
    </div>
    <!-- / Alert box  -->

    <div class="row justify-content-center">
      <!-- Card component -->
      <base-card
        :title="isLoggedIn ? 'Welcome!' : 'Please login to your account to complete your order'"
      >
        <template v-if="!isLoggedIn">
          <form novalidate @submit.prevent="login()">
            <!-- Email field -->
            <div class="mb-3">
              <BaseInput
                class="form-control"
                label="E-mail"
                name="email"
                type="email"
                placeholder="domain@tld.com"
                :invalid="v.fields.email.$error"
                maxlength="25"
                :focus="true"
                v-model="fields.email"
              />
            </div>
            <template v-if="v.fields.email.$error">
              <template v-for="(error, index) of v.fields.email.$errors" :key="index">
                <p>{{ error.$message }}</p>
              </template>
            </template>
            <!-- Password field -->
            <div class="mb-3">
              <BaseInput
                class="form-control"
                label="Password"
                name="password"
                type="password"
                :invalid="v.fields.password.$error"
                v-model="fields.password"
              />
            </div>
            <template v-if="v.fields.password.$error">
              <template v-for="(error, index) of v.fields.password.$errors" :key="index">
                <p>{{ error.$message }}</p>
              </template>
            </template>

            <!--Submit button-->
            <input type="submit" class="btn btn-primary d-block mx-auto mb-2 mt-4" value="Login">
          </form>
        </template>
        <template v-else>
          <p>Email: {{ user.email }}</p>
          <button class="btn btn-primary d-block mx-auto mb-2 mt-4"
                  @click="logout">Log out
          </button>
        </template>

        <template v-slot:card-footer>
          <NavigationButton class="d-block d-sm-none btn pt-0"
                            :class="{ disabled: !isLoggedIn }"
                            href="order" align="right"/>
        </template>
      </base-card>
    </div> <!-- /row -->
  </div> <!-- /container -->
</template>

<script>
// @ is an alias to /src
import useVuelidate from '@vuelidate/core';
import {
  getAuth, signInWithEmailAndPassword, signOut,
} from 'firebase/auth';
import {
  email, maxLength, minLength, required,
} from '@vuelidate/validators';
import BaseCard from '../components/BaseCard.vue';
import BaseInput from '../components/BaseInput.vue';
import NavigationButton from '../components/UI/NavigationButton.vue';
// eslint-disable-next-line import/extensions
import { useAuthState } from '../../firebase.js';

export default {
  name: 'Home',
  setup: () => ({ v: useVuelidate() }),
  components: {
    BaseCard,
    BaseInput,
    NavigationButton,
  },
  data() {
    return {
      fields: {
        email: '',
        password: '',
      },
      isLoggedIn: false,
      user: {
        email: '',
        name: '',
      },
      error: false,
    };
  },
  created() {
    this.isLoggedIn = useAuthState().isAuthenticated;
  },
  methods: {
    async login() {
      const auth = getAuth();
      await signInWithEmailAndPassword(auth, this.fields.email, this.fields.password)
        .then((userCredential) => {
          const { user } = userCredential;
          this.user.email = user.email;
        })
        .catch(() => {
          this.error = true;
        });
    },
    async logout() {
      const auth = getAuth();
      await signOut(auth);
    },
    closeAlert() {
      this.error = false;
    },
  },
  validations() {
    return {
      fields: {
        email: {
          required,
          email,
          maxLength: maxLength(25),
          $autoDirty: true,
        },
        password: {
          required,
          minLength: minLength(8),
          $autoDirty: true,
        },
      },
    };
  },
};
</script>
