<template>
  <div class="container">
    <div class="row justify-content-center">
      <base-card title="Order detail">
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="../assets/product.png" alt="">
          </div>
          <div class="col">
            <h4>iPhone 13 Pro Max</h4>
            <ul class="text-muted">
              <li>256 GB</li>
              <li>Graphite</li>
            </ul>
            <p>Price: $1,199.00</p>
          </div>
        </div>
        <div class="row text-center mt-3">
          <div class="col">
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-success">Confirm</button>
          </div>
        </div>
        <template v-slot:card-footer>
          <NavigationButton class="d-block d-sm-none" href="checkout" align="right" />
          <NavigationButton class="d-block d-sm-none" href="/" align="left" />
        </template>
      </base-card>
    </div>
  </div>
</template>

<script>
import BaseCard from '../components/BaseCard.vue';
import NavigationButton from '../components/UI/NavigationButton.vue';

export default {
  name: 'Order',
  components: {
    BaseCard,
    NavigationButton,
  },
};
</script>

<style scoped>

</style>
