<template>
  <div class="card rounded-3 shadow mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center mt-3 mb-5">{{ title }}</h5>
      <slot></slot>
    </div>
    <div class="card-footer">
      <slot name="card-footer"></slot>
      <TheIndicator class="d-block d-sm-none" />
    </div>
  </div>
</template>

<script>
import TheIndicator from './UI/TheIndicator.vue';

export default {
  name: 'BaseCard',
  props: {
    title: {
      required: true,
      type: String,
    },
  },
  components: {
    TheIndicator,
  },
};
</script>

<style scoped lang="scss">
.card {
  color: $black;
  position: absolute;
  width: 20rem;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  @include mq('med') {
    width: 100%;
    max-width: 30rem;
  }
  &-footer {
    background: transparent;
    border: none;
    svg {
      position: absolute;
      right: rem(15px);
      bottom: rem(13px);
    }
  }
}

</style>
