<template>
  <footer class="fixed-bottom">
    <div class="container">
      <p class="text-center">&copy; Copyright {{ getCurrentYear }} MasihTak</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter',
  computed: {
    getCurrentYear() {
      const currentTime = new Date();
      return currentTime.getFullYear();
    },
  },
};
</script>

<style scoped>

</style>
