<template>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="error">
          <!-- Error title -->
          <h2 class="text-center error__title">404</h2>
          <p class="text-center error__lead">Page Not Found!</p>
          <!-- Error message -->
          <p class="error__info mt-5">
            Oops! Sorry, we are unable to find the page you are looking for.
            Click the blow button to return home.
          </p>
          <button class="btn btn-primary d-block mx-auto mt-5 px-4">Home</button>
        </div> <!-- /error -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
};
</script>

<style scoped lang="scss">
.error {
  @include e('title') {
    font-size: 7rem;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAA,
                 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3),
                 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25),
                 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    @include mq('med') {
        font-size: 8.5rem;
    }
    @include mq('lg') {
      font-size: 10rem;
    }
  }
  @include e('lead') {
    @include mq('lg') {
      font-size: 1.5rem;
    }
  }
  @include e('info') {
    @include mq('lg') {
      font-size: 1.3rem;
    }
  }
}

.btn-primary {
  @include mq('med') {
    margin-top: 6rem !important;
  }
}
</style>
