<template>
  <!-- Global title -->
  <h1 class="title text-center mt-5">Multi Step form</h1>
  <!-- Navigation for the desktop -->
  <aside class="nav flex-column d-none d-md-block position-absolute">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <router-link to="/" class="nav-link" aria-current="page" role="button">
          Home
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/order" class="nav-link" aria-current="page" role="button">
          Order
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/checkout" class="nav-link" aria-current="page" role="button">
          Checkout
        </router-link>
      </li>
    </ul>
  </aside>

  <transition name="slide" mode="out-in">
    <router-view v-slot="{ Component }">
      <keep-alive>
        <component :is="Component"></component>
      </keep-alive>
    </router-view>
  </transition>

  <!-- Footer -->
  <TheFooter/>
</template>

<script>
import TheFooter from './components/TheFooter.vue';

export default {
  name: 'App',
  components: {
    TheFooter,
  },
};

</script>

<style lang="scss">

// General style //
html, body {
  height: 100%;
}

body {
  background: url("./assets/Bg.jpg") no-repeat center / cover;
  color: white;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  position: absolute;
}

.container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

.btn-primary {
  background: $downriver;
  background: -webkit-linear-gradient(bottom, $downriver, $color-primary);
  background: -moz-linear-gradient(bottom, $downriver, $color-primary);
  background: linear-gradient(to top, $downriver, $color-primary);
}

// Sidebar
aside {
  background: $white;
  top: 40%;
  left: 20vw;
  border-radius: 7px;
  @include mq('med') {
    left: 7vw
  }
  @include mq('lg') {
    left: 10vw
  }
  @include mq('xl') {
    left: 20vw
  }
}

// Form input fields
#expiry-date {
  width: 6em !important;
}

#CVV {
  width: 5em !important;
}

// Alert
.alert-danger {
  background: $red;
  border: none;
  color: $white;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease-out;
}

.slide-enter-to,
.slide-enter-from,
.slide-leave-to,
.slide-leave-from {
  position: absolute;
}

.slide-enter-to {
  left: 0;
  @include mq("med") {
    right: 0;
    left: 0;
    top: 0;
  }
}

.slide-enter-from {
  left: -100%;
  @include mq("med") {
    right: 0;
    left: 0;
    top: -100%;
  }
}

.slide-leave-to {
  right: -100%;
  @include mq("med") {
    right: 0;
    left: 0;
    bottom: -100%;
  }
}

.slide-leave-from {
  right: 0;
  @include mq("med") {
    right: 0;
    left: 0;
    bottom: 0;
  }
}
</style>
