<template>
  <router-link :to="href" role="button">
    <template v-if="align === 'right' ">
      <svg class="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(0,0,0,1)"/></svg>
    </template>
    <template v-if="align === 'left' ">
      <svg class="prev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" fill="rgba(0,0,0,1)"/></svg>
    </template>
  </router-link>
</template>

<script>
export default {
  name: 'NavigationButton',
  props: {
    href: {
      type: String,
      required: true,
    },
    align: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
svg {
  position: absolute;
  bottom: rem(13px);
}

.next {
  right: rem(20px);
}

.prev {
  left: rem(20px);
}
</style>
