<template >
  <ul class="d-flex justify-content-center p-0">
    <li class="rounded-circle"
        v-for="number in numbers" :key="number"
    >
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    numbers: {
      type: Number,
      default: 3,
    },
  },
};
</script>

<style scoped lang="scss">
li {
  border: 1px solid $grey;
  width: 7px;
  height: 7px;
  list-style: none;
  margin-right: 5px;
}

.active {
  background: $black;
}
</style>
